/******** Start of big_noodle_titling Font ********/

@font-face {
  font-family: 'big_noodle_titling';
  src: url('../fonts/big_noodle_titling.ttf') 
}

/******** Start of big_noodle_titling Font ********/



/******** Start of MyriadPro-Black Fonts ********/

@font-face {
  font-family: 'MyriadPro-Black';
  src: url('../fonts/MyriadPro-Black.otf') 
}

@font-face {
  font-family: 'MyriadPro-BlackCond';
  src: url('../fonts/MyriadPro-BlackCond.otf') 
}

@font-face {
  font-family: 'MyriadPro-BlackCondlt';
  src: url('../fonts/MyriadPro-BlackCondlt.otf') 
}

@font-face {
  font-family: 'MyriadPro-Blacklt';
  src: url('../fonts/MyriadPro-Blacklt.otf') 
}

@font-face {
  font-family: 'MyriadPro-BlackSemiCn';
  src: url('../fonts/MyriadPro-BlackSemiCn.otf') 
}

@font-face {
  font-family: 'MyriadPro-BlackSemiCnlt';
  src: url('../fonts/MyriadPro-BlackSemiCnlt.otf') 
}

@font-face {
  font-family: 'MyriadPro-BlackSemiExt';
  src: url('../fonts/MyriadPro-BlackSemiExt.otf') 
}

@font-face {
  font-family: 'MyriadPro-BlackSemiExtlt';
  src: url('../fonts/MyriadPro-BlackSemiExtlt.otf') 
}

/******** End of MyriadPro-Black Fonts ********/



/******** Start of MyriadPro-Light Fonts ********/

@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro-Light.otf') 
}

@font-face {
  font-family: 'MyriadPro-Lightlt';
  src: url('../fonts/MyriadPro-Lightlt.otf') 
}

/******** End of MyriadPro-Light Fonts ********/